body {
  background-color: #2B2733;
  font-family: 'Montserrat', sans-serif;
}
/* background of main header */
.header-one{
  background-color: #46424D;
  height: 8%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
/* h1 for the whole page */
.h1-for-whole-page {
  color: #FFF;
  font-size: 25px;
}
/* main content */
.all-content-of-page {
    margin-top: 6%;
    grid-template-columns: 4fr 2.2fr;
    display: grid;
    height: 35em;
}
/* all left content of main */
.left-content-of-main {
    width: 96%;
}
/* new activity header */
.h2-header-new-activity {
  margin: 0 1.3em;
    color: #CBC9CF;
    font-size: 1.5em;
}
/* all inner left content of main */
.inner-left-content-of-main {
    background-color: #46424D;
    color: #FFF;
    height: 38em;
    margin: 1em 2em;
    border-radius: 4px;
}
.select-a-category {
  margin-left: 5.9em;
  margin-bottom: 1%;
  font-size: 1.1em;
  padding-top: 3em;
  padding-bottom: 0.8em;
}

.category-wrapper {
  display: flex;
  margin: 0 13%;
  justify-content: space-between;
}

.category-choice-box {
    width: 28%;
    height: 4em;
    border: solid 2px #fff;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
}
.study-timer-border {
  border: 4px solid #B3FD78;
  background-color: #46424D;
}
.meditate-timer-border {
  border: 4px solid #C278FD;
  background-color: #46424D;
}
.exercise-timer-border {
  border: 4px solid #FD8078;
  background-color: #46424D;
}


.category-img {
    width: 15%;
    margin-top: 8px;
  }
.p-study {
    margin-top: 0;
    margin-bottom: 0;
}
.p-meditate{
    margin-top: 0;
    margin-bottom: 0;
}
.p-exercise{
    margin-top: 0;
    margin-bottom: 0;
}
.user-paramaters{
  margin-top: 15%;
}
.warning{
    margin-left: 13%;
}
.warning-img{
    display:inline-block;
    width: 0.9em;
  }
  .warning-text{
      display:inline-block;
      font-size: 15px;
  }
.title-of-input {
    display: block;
    padding-left: 13%;
    margin-bottom: 1.5em;
    font-size: 1em;
  }
  .users-goals-to-accomplish{
  display: block;
  background: transparent;
  border: none;
  border-bottom: 1px solid#CBC9CF;
  width: 55em;
  margin-left: 13%;
  color: #fff;
  }
.parent-of-minutes-category {
  display: inline-block;
  margin-left: 6em;
  margin-top: 1em;
}
.parent-of-seconds-category {
    display: inline-block;
    margin-left: 4em;
    margin-top: 1em;
}
.title-of-input-minutes {
    display: block;
    padding-left: 4%;
    margin-bottom: 1.5em;
    font-size: 1em;
    margin-top: 2em;
}
.title-of-input-seconds {
    display: block;
    margin-bottom: 1.5em;
    font-size: 1em;
}
.minutes{
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid#CBC9CF;
    width: 23em;
    margin-left: 1em;
    color: #fff;
}
.seconds{
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid#CBC9CF;
    width: 25.3em;
    color: #fff;
}
#start-activity {
  display: block;
  border-radius: 4px;
  margin-top: 3em;
  margin-left: 31.7em;
  line-height: 2;
  padding: 0px 18px;
  font-size: 1rem;
  text-align: center;
  color:gray;
  width: 23%;

}
.right-content-of-main {
    color: #CBC9CF;
    border-left:1px solid gray;
    margin-top: -6%;
    margin-bottom: -8%;
}
.past-activities {
    font-size: 1.5em;
    padding-left: 1em;
    margin-top: 32px;
}
.user-logged-info {
    padding-left: 1em;
    padding-left: 1em;
    width: 74%;
    text-align: center;
    margin-left: 3em;
}
.current-activity-page{
    width: 96%;
  }
  .current-activity-title{
    margin: 0 1.3em;
    color: #CBC9CF;
    font-size: 1.5em;
  }
  .current-activity-container{
    background-color: #46424D;
    color: #FFF;
    height: 37em;
    margin: 1em 2em;
    text-align: center;
  }
  #users-first-input-field {
    text-align: center;
    padding-top: 8%;
    font-size: 1.5em;
    margin-bottom: 0;
  }
  #time-counter {
    text-align: center;
    font-size: 5em;
    margin: 0;
  }
  #task-start,
  #task-complete {
    font-size: 1.5em;
      display: block;
      margin: 5% 0 7% 36.2%;
      border-radius: 50%;
      height: 230px;
      width: 230px;
      /* border: 3px solid #C278FD;
      background-color: #46424D; */
      color: #fff;
  }
  /* complete activity page */
  .current-activity-complete-page{
    width: 96%;
  }
  .current-activity-complete-title{
    margin: 0 1.3em;
    color: #CBC9CF;
    font-size: 1.5em;
  }
  .current-activity-complete-container{
    background-color: #46424D;
    color: #FFF;
    height: 37em;
    margin: 1em 2em;
    text-align: center;
  }
  /* #task-complete{
    font-size: 1.5em;
      display: block;
      margin: 5% 0 7% 36.2%;
      border-radius: 50%;
      height: 230px;
      width: 230px;
      border: 3px solid #C278FD;
      background-color: #46424D;
      line-height: 230px;
      color: #fff; */
  }
  #log-activity-button {
    width: 23%;
    height: 32px;
    font-size: 1em;
    border-radius: 2%;
  }
  .log-activity-page{
    width: 96%;
  }
  .log-activity-complete-container {
    background-color: #46424D;
    color: #FFF;
    height: 37em;
    margin: 1em 2em;
    text-align: center;
  }
  #create-activity-button{
    height: 32px;
    font-size: 1em;
    border-radius: 2%;
    width: 40%;
    margin-top: 10%;
  }
