body {
  background-color: #2B2733;
  font-family: 'Montserrat', sans-serif;
}

/* background of main header of whole page*/
.header-one{
  background-color: #46424D;
  height: 8%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

/* h1 for the whole page */
.h1-for-whole-page {
  color: #FFF;
  font-size: 160%;
}

/* <main> main content wrapper*/
.all-content-of-page {
  display: grid;
  grid-template-columns: 4fr 2.2fr;
  height: 35em;
  margin-top: 5em;
}

/* <section> all wrappers for toggled pages => hidden */
.left-content-of-main,
.current-activity-page,
.current-activity-complete-page,
.log-activity-page {
  width: 96%;
}

/* <h2> every page that toggles in left-content-of-main */
.current-activity-title {
  color: #CBC9CF;
  margin: 0 1.3em;
}

/* page1 inner left content of main after <h2> */
.inner-left-content-of-main-page1 {
  background-color: #46424D;
  border-radius: 4px;
  color: #FFF;
  height: 38em;
  margin: 1em 2em;
}

/* <p> of select a category: page1 */
.select-a-category {
  font-size: 110%;
  margin: 0 0 0 5.5em;
  padding: 3em 0 0.8em 0;
}

/* <div> wrapper to all category choice boxes */
.category-choice-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 6em;
}

/* <section> shared class for category each boxes */
.category-choice-box {
  border-radius: 4px;
  border: solid 2px #fff;
  display: inline-block;
  height: 4em;
  text-align: center;
  width: 28%;
}

/* borders for each start activity button on page2 */
.study-timer-border {
  border: 4px solid #B3FD78;
  background-color: #46424D;
}

/* borders for each start activity button on page2 */
.meditate-timer-border {
  border: 4px solid #C278FD;
  background-color: #46424D;
}

/* borders for each start activity button on page2 */
.exercise-timer-border {
  border: 4px solid #FD8078;
  background-color: #46424D;
}

/* <img> shared class for the img in category boxes */
.category-img {
  margin-top: 8px;
  width: 15%;
  }

  /* <p> for study category box */
.p-study,
.p-meditate,
.p-exercise {
  margin-bottom: 0;
  margin-top: 0;
}

/* <form> all of the form */
.user-paramaters{
  margin-top: 15%;
}

/* <label> shared class for label in <form> */
.title-of-input {
  display: block;
  font-size: 1em;
  margin: 0 0 1.5em 6.5em;
  }

/* <input> what they want to accomplish input*/
.users-goals-to-accomplish-input{
  background: transparent;
  border: none;
  border-bottom: 1px solid#CBC9CF;
  color: #fff;
  display: block;
  margin-left: 9.4em;
  width: 55em;
  }

/* <section> warning wrapper for error message */
.warning{
  margin-left: 7em;
}

/* <img> warning error message img */
.warning-img{
  display:inline-block;
  width: 0.9em;
}

/* <p> warning error message text */
.warning-text{
  display:inline-block;
  font-size: 15px;
}

/* <div> wrapper of entire minutes label and input */
.parent-of-minutes-category {
  display: inline-block;
  margin: 1em 0 0 6em;
}

/* <label> of minutes in form */
.title-of-input-minutes {
  display: block;
  font-size: 1em;
  margin: 2em 0 1.5em .6em;
}

/* <input> for minutes in form */
.minutes-user-input{
  background: transparent;
  border: none;
  border-bottom: 1px solid#CBC9CF;
  color: #fff;
  display: block;
  margin-left: 1em;
  width: 23em;
}

/* <div> wrapper of entire seconds label and input */
.parent-of-seconds-category {
  display: inline-block;
  margin: 1em 0 0 4em;
}

/* <label> of seconds in form */
.title-of-input-seconds {
  display: block;
  font-size: 1em;
  margin-bottom: 1.5em;
}

/* <input> for seconds in form */
.seconds-user-input{
  background: transparent;
  border: none;
  border-bottom: 1px solid#CBC9CF;
  display: block;
  color: #fff;
  width: 25.3em;
}

/* <button> start activity button */
#start-activity {
  color:gray;
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  line-height: 2;
  margin: 3em 0 0 31.7em;
  padding: 0px 1.3em;
  text-align: center;
  width: 23%;
}

/* <aside> place for card holder on the right of page */
.right-content-of-main {
  border-left:1px solid gray;
  color: #CBC9CF;
  margin: -1.2em 0 -1.5em 0;
}

/* <p> text for header of past activities */
.past-activities {
  font-size: 1.5em;
  margin-top: 1em;
  padding-left: 1em;
}

/* <p> text for indication of where cards are held */
.user-logged-info {
  margin-left: 3em;
  padding-left: 1em;
  text-align: center;
  width: 74%;
}

/* <div> complete activity page */
.current-activity-container{
  background-color: #46424D;
  color: #FFF;
  height: 37em;
  margin: 1em 2em;
  text-align: center;
}

/* <p> input from what to accomplish page2 */
#users-first-input-field {
  font-size: 1.5em;
  margin-bottom: 0;
  padding-top: 8%;
  text-align: center;
}

/* <p> display of time on page2 */
#time-counter {
  font-size: 5em;
  margin: 0;
  text-align: center;
}

/* <button> start activity */
/* <div> for complete activity icon */
#task-start,
#task-complete {
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 1.5em;
  height: 10em;
  margin: 1em 0 1.3em 12em;
  width: 10em;
}

/* <h2> title for the newly desplayed info on page3 */
.current-activity-complete-title{
  color: #CBC9CF;
  font-size: 1.5em;
  margin: 0 1.3em;
}
/* <div> wrapper for displayed info on page3 */
.current-activity-complete-container{
  background-color: #46424D;
  color: #FFF;
  height: 37em;
  margin: 1em 2em;
  text-align: center;
}

/* <button> log activity button to <aside> right of page */
#log-activity-button {
  border-radius: 2%;
  font-size: 1em;
  height: 32px;
  width: 23%;
}

/* <div> wrapper for the newly desplayed info on page3 */
.log-activity-complete-container {
  background-color: #46424D;
  color: #FFF;
  height: 37em;
  margin: 1em 2em;
  text-align: center;
}

/* <button> for create a new activity button */
#create-activity-button{
  border-radius: 2%;
  font-size: 1em;
  height: 32px;
  margin-top: 10%;
  width: 40%;
}

/* Category choice box active state */
.study-box.active {
border-color: #B3FD78;
color: #B3FD78;
}

/* Category choice box active state */
.meditate-box.active {
  border-color: #C278FD;
  color: #C278FD;
}

/* Category choice box active state */
.exercise-box.active {
  border-color: #FD8078;
  color: #FD8078;
}
